* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    max-width: 960px;
    padding: 0 0.25rem;
    margin: 11px auto;
}

.navbar .logo img {
    width: 132px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul {
    display: flex;
    align-items: center;
}


.navbar ul li {
    list-style: none;
    padding-left: 25px;
    font-family: sans-serif;
    font-size: 15px;
}

.navbar ul li:hover {
    color: #0000ff;
    cursor: pointer;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn .btn-1 {
    font-family: sans-serif;
    font-size: 13px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}

.btn .btn-2 {
    font-family: sans-serif;
    font-size: 13px;
    padding: 8px 15px;
    background-color: #0000ff;
    border: none;
    border-radius: 6px;
    color: #ffffff;
}

.btn .btn-2:hover {
    background-color: #4040f7;
    cursor: pointer;
}


.cards {
    display: flex;
    margin-top: 12%;
}

.cards 