* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

.container {
    max-width: 960px;
    padding: 0 0.25rem;
    margin: 0 auto;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.navbar ul {
    display: flex;
    align-items: center;
}


.navbar ul li {
    list-style: none;
}